<!doctype html>
<html lang="en">
    <head>
        <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
         <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <title>Registro de huellas</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="/css/bootstrap.min.css"
            rel="stylesheet"
            crossorigin="anonymous"
        />
    </head>

    <body>

        <nav class="navbar navbar-expand navbar-dark bg-success">
            <div class="nav navbar-nav">
                <a class="nav-item nav-link active" href="/admin/index" >Panel administrador </a>
                
                <a class="nav-item nav-link" href="/admin/registroshuella">Registros de huellas</a>
           
                <a class="nav-item nav-link" href="/admin/registrosingresos">Verificar huella</a>
                
                <a class="nav-item nav-link" href="/admin/registroingresos">Registro ingresos</a>
                
                <a class="nav-item nav-link" href="/admin/ingresosalon">Ingreso al salón</a>
            
                <a class="nav-link" href="/admin/cerrar">Cerrar Sesion</a>
            </div>
        </nav>

        <div class="container">
        
        <br/>