{% include 'sitio/cabecera.html' %}

<div class="card">
    <div class="card-header">
        <h4>Registro de Ingresos</h4>
    </div>
    <div class="card-body">
        <h5 class="card-title">Sistema de Registro de Ingresos</h5>
        <p class="card-text">En esta sección puede registrar los ingresos de los usuarios.</p>
        
        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Hora</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Aquí se mostrarán los registros de ingresos -->
                </tbody>
            </table>
        </div>
        
    </div>
    <div class="card-footer text-muted">
        Sistema de Control de Acceso
    </div>
</div>

{% include 'sitio/pie.html' %}